body{
    background-image: url("lightblue.jpg");
    font-family: "Oswald", sans-serif;
    text-align: center;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.heading{
    background-image: url(bkg3.gif);
    justify-content: center;
    
}
.heading-layer{
    background-image: url("1770482515720.png"),url("1770482515720.png");
   background-position: left top, right top;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.heading h1{
    font-size: 60px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    background-image: url("1770482515720.png");
}
nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap:70px;
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2vw;
    background-image: url(bkg3.gif);
    z-index: 1000;
      
}
nav a {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: max(1.4vw, 25px);
    display: block;
    padding: 0.7vw 16px;
}
nav a:hover {
    color: rgb(19, 199, 227);
    cursor: pointer;
}
/* From Uiverse.io by bandirevanth */ 
.custom-btn {
 width: 130px;
 height: 40px;
 color: #000000;
 border-radius: 5px;
 padding: 10px 25px;
 font-family: "Oswald", sans-serif;
 font-weight: 500;
 background: transparent;
 cursor: pointer;
 transition: all 0.3s ease;
 position: relative;
 display: inline-block;
 box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 outline: none;
}

.btn-1 {
 background: rgb(67, 164, 255);
 background: linear-gradient(0deg, rgb(84, 151, 251) 0%, rgb(103, 202, 252) 100%);
 border: none;
}

.btn-1:hover {
 background: rgb(122, 189, 244);
 background: linear-gradient(0deg, rgb(103, 236, 243) 0%, rgb(136, 192, 247) 100%);
}
.mascot{
    display: flex;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.account-table{
    width: 100%;
    overflow-x: auto;
}
h2{
    font-size:70px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form{
    font-size: 25px;
}
table{
    font-size: 20px;
}

input [type = file], input [type = select]{
background: rgb(67, 164, 255);
 background: linear-gradient(0deg, rgb(84, 151, 251) 0%, rgb(103, 202, 252) 100%);
 border: none;
}
